.sidebar {
	height: 100%;
	width: 100px;
    position: absolute;
    background-color: red;
    .app {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: aqua;
        margin: 10px;
    }
}
